//color
$color1:#C6E2E3;
$color2:#8CC6C7;
$color3:#4F8182;
$colorBlack:#2D414F;
$colorWhite:rgba(255,255,255,0.85);
//web
$contentArea:75%;
$subArea:25%;
//font
$eng_ft:'Bangers', cursive;
$kor_ft:'Noto Sans KR', sans-serif;
$e_letter:35px;
//$kor_ft='Bangers', cursive;
