<html>
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="Blog/style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div class="backImg"></div>
<section class="intro" id="intro">
    <div class="main_box">
        <div class="border_box">
            <div class="con_box">
                <h1>Portfolio</h1>
            </div>
        </div>
    </div>
    <p class="triangle">
        <a href="#about"><i class="xi-caret-up xi-3x"></i></a>
    </p>
</section>
<section class="about" id="about">
    <div class="sub_con_box">
        <p>
            1년차 프론트엔드 개발자입니다. 리액트 SPA 프로젝트 작업 경험과
            반응형 페이지 작업경험이 다수 있습니다. jsp와 ajax를 연동한
            경험이있습니다.
        </p>
    </div>
    <div class="main_con_box">
        <div class="main_con">
            <h1>Notice</h1>
            <div>
                <p>
                    <span>2021.03 ~ 2021.07</span>
                    <span>블록체인 컴퍼니 개발 팀 / 사원</span>
                </p>
                <p>
                    <span>2020.05 ~ 2021.03</span>
                    <span>엘오피 아이앤씨 It개발 팀 / 사원</span>
                </p>
                <p>
                    <span>2020.04</span>
                    <span>웹디자인 기능사</span>
                </p>
                <p>
                    <span>2017.09</span>
                    <span>photoshp GTQ 1급</span>
                </p>

            </div>
        </div>
        <div class="main_con">
            <h1>Skills</h1>
            <div class="graph_box" id="skillGraph">
               <ul>
                   <li>
                       <span>html</span>
                   </li>
                   <li>
                       <span>scss</span>
                   </li>
                   <li>
                       <span>javascript</span>
                   </li>
                   <li>
                       <span>jquery</span>
                   </li>

               </ul>
               <ul>
                   <li>
                       <span>react.js</span>
                   </li>
                   <li>
                       <span>vue.js</span>
                   </li>
                   <li>
                       <span>photoshop / illustlator</span>
                   </li>

               </ul>
            </div>
        </div>
    </div>
    <h1>About</h1>
</section>
<section class="project" id="project">
<!-- react -->
<!-- cart -->

<div class="project_con_box">
    <div class="main_con_box">
        <div class="main_con">
            <h1>장바구니</h1>
            <div>
                <p>
                    리액트 리덕스를 사용한 장바구니입니다.
                </p>
                <p>
                    물건을 장바구니에 담을 수 있습니다.
                </p>
            </div>
        </div>
        <div class="portfolio">
            <div></div>
            <div class="project_con">
                <div>
                    <div class="img_box" id="img-box5"></div>
                    <div class="img_box_monitor"><a href="https://pedantic-poincare-6922b3.netlify.app"></a></div>
                </div>
                <div>

                    <h1>Over View</h1>
                    <ul>
                        <li>select박스에서 사이즈와 컬러를 선택하면 그에 해당하는 리스트를 출력해줍니다.</li>
                        <li>색으로 된 버튼을 클릭하면 각각 해당하는 색의 옷을 사진으로 확인할 수 있습니다.</li>
                        <li>장바구니에 넣으면 쇼핑 카트에 담긴 리스트를 확인 할 수 있습니다.</li>
                        <li>삭제와 수량을 변경할 수 있습니다.</li>
                        <li>가격에 따라 배송비여부도 확인할 수 있습니다.</li>

                    </ul>
<!--                        <h1>Main Skill</h1>-->
<!--                        <ul>-->
<!--                            <li>12</li>-->
<!--                            <li>3</li>-->
<!--                            <li>45</li>-->
<!--                            <li>5</li>-->
<!--                        </ul>-->
                </div>
            </div>
        </div>
    </div>
    <div class="sub_con_box">
        <div class="sub_ex">

        </div>
        <div class="skill_box">
            <h1>skill to use</h1>
            <ul>
                <li>

                    <img src="Blog/img/s5.png"/>
                </li>
                <li>
                    <img src="Blog/img/s2.png"/>
                </li>
                <li>
                    <img src="Blog/img/s9.png"/>
                </li>
               
            </ul>

        </div>
    </div>
</div>

<!-- cart끝 -->
    <!-- 메모 -->
    <div class="project_con_box">
        <div class="main_con_box">
            <div class="main_con">
                <h1>메모장</h1>
                <div>
                    <p>
                        메모를 입력할 수 있는 메모장 어플입니다.
                    </p>
                    <p>
                        리덕스를 사용하여 작업했습니다.
                    </p>
                </div>
            </div>
            <div class="portfolio">
                <div></div>
                <div class="project_con">
                    <div>
                        <div class="img_box" id="img-box4"></div>
                        <div class="img_box_monitor"><a href="https://awesome-hawking-4483f7.netlify.app/"></a></div>
                    </div>
                    <div>

                        <h1>Over View</h1>
                        <ul>
                            <li>write버튼을 누르면 메모를 추가할 수 있습니다. </li>
                            <li>DeleteAll 버튼을 누르면 전체 삭제를 할 수 있습니다.</li>
                            <li>concern 버튼을 누르면 즐겨찾기해놓은 메모를 확인 할 수 있습니다.</li>
                            <li>각 메모당 즐겨찾기와 삭제기능을 사용할 수 있습니다.</li>

                        </ul>
<!--                        <h1>Main Skill</h1>-->
<!--                        <ul>-->
<!--                            <li>12</li>-->
<!--                            <li>3</li>-->
<!--                            <li>45</li>-->
<!--                            <li>5</li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_con_box">
            <div class="sub_ex">

            </div>
            <div class="skill_box">
                <h1>skill to use</h1>
                <ul>
                    <li>
    
                        <img src="Blog/img/s5.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s2.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s9.png"/>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>


    <!-- react 끝 -->
    <div class="project_con_box">
        <div class="main_con_box">
            <div class="main_con">
                <h1>전화번호부</h1>
                <div>
                    <p>
                        반응형 전화번호부입니다.PHP와 DB를 이용해 추가, 삽입, 조회,
                    </p>
                    <p>
                        수정 기능을 이용할 수 있습니다.
                    </p>
                </div>
            </div>
            <div class="portfolio">
                <div></div>
                <div class="project_con">
                    <div>
                        <div class="img_box" id="img-box1"></div>
                        <div class="img_box_monitor"><a href="http://pager.kr/~c10st15/portfolio/telBook/class.php"></a></div>
                    </div>
                    <div>

                        <h1>Over View</h1>
                        <ul>
                            <li>로그인과 로그아웃 기능이 구현되어있습니다. 로그인 후 수정과 삭제 추가가 가능합니다.</li>
                            <li>조회 기능은 주제별 검색이 가능합니다.</li>
                            <li>추가기능에선 사진추가가 가능합니다.</li>
                            <li>체크박스로 한번에 삭제가 가능합니다.</li>
                            <li>각각의 오른쪽에 수정기능을 클릭하면 해당 인물을 수정할 수 있습니다.</li>

                        </ul>
<!--                        <h1>Main Skill</h1>-->
<!--                        <ul>-->
<!--                            <li>12</li>-->
<!--                            <li>3</li>-->
<!--                            <li>45</li>-->
<!--                            <li>5</li>-->
<!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_con_box">
            <div class="sub_ex">

            </div>
            <div class="skill_box">
                <h1>skill to use</h1>
                <ul>
                    <li>

                        <img src="Blog/img/s1.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s2.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s3.png"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="Blog/img/s4.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s7.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s8.png"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!--    2-->
    <div class="project_con_box">
        <div class="main_con_box">
            <div class="main_con">
                <h1>이벤트 페이지</h1>
                <div>
                    <p>
                        스티븐유니버스 더 무비 상품이벤트를 소개하는 페이지입니다.
                    </p>

                </div>
            </div>
            <div class="portfolio">
                <div></div>
                <div class="project_con">

                    <div>
                        <div class="img_box" id="img-box2"><a href=""></a></div>
                        <div class="img_box_monitor"><a href="/event"></a></div>
                    </div>

                    <div>

                        <h1>Over View</h1>
                        <ul>
                            <li>스크롤 이벤트가 사용된 상품소개 페이지입니다.</li>
                            <li>스크롤을 내릴 시 바뀌는 이미지들을 확인하실 수 있습니다.</li>

                        </ul>
                        <!--                        <h1>Main Skill</h1>-->
                        <!--                        <ul>-->
                        <!--                            <li>12</li>-->
                        <!--                            <li>3</li>-->
                        <!--                            <li>45</li>-->
                        <!--                            <li>5</li>-->
                        <!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_con_box">
            <div class="sub_ex">

            </div>
            <div class="skill_box">
                <h1>skill to use</h1>
                <ul>
                    <li>

                        <img src="Blog/img/s1.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s2.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s3.png"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="Blog/img/s4.png"/>
                    </li>

                </ul>
            </div>
        </div>
    </div>
<!--3-->
    <div class="project_con_box">
        <div class="main_con_box">
            <div class="main_con">
                <h1>행렬 계산기</h1>
                <div>
                    <p>더하기, 빼기, 곱셈, 랜덤값입력이 가능한 행렬계산기입니다.</p>
                </div>
            </div>
            <div class="portfolio">
                <div></div>
                <div class="project_con">
                    <div>
                        <div class="img_box" id="img-box3"></div>
                        <div class="img_box_monitor"><a href="/calc"></a></div>
                    </div>
                    <div>

                        <h1>Over View</h1>
                        <ul>
                            <li>맨위의 input박스에 행과 열을 각각 입력하면 입력한 값의 행과 열을 가진 행렬 두개가 화면에 출력됩니다.</li>
                            <li>
                                더하기,빼기,곱하기 기능을 사용할 시엔 아래의 창에 결과 값이 출력됩니다. 곱셈을 할 시에 만약 행과 열의 숫자가 같지않으면 알림창이 뜹니다.
                            </li>
                            <li>
                                랜덤 버튼은 행과열이 많을때 -50~50까지의 랜덤한 수가 화면에 출력됩니다.
                            </li>
                            <li>
                                리셋 버튼은 행과 열값과 화면에 있는 계산 대상과 결과를 모두 지워줍니다.
                            </li>
                        </ul>
                        <!--                        <h1>Main Skill</h1>-->
                        <!--                        <ul>-->
                        <!--                            <li>12</li>-->
                        <!--                            <li>3</li>-->
                        <!--                            <li>45</li>-->
                        <!--                            <li>5</li>-->
                        <!--                        </ul>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="sub_con_box">
            <div class="sub_ex">

            </div>
            <div class="skill_box">
                <h1>skill to use</h1>
                <ul>
                    <li>

                        <img src="Blog/img/s1.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s2.png"/>
                    </li>
                    <li>
                        <img src="Blog/img/s3.png"/>
                    </li>
                </ul>
                <ul>
                    <li>
                        <img src="Blog/img/s4.png"/>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <h1 >Portfolio</h1>
</section>
<footer>
    <h1>Thanks for watching!</h1>
    <p><i class="xi-check-circle-o"></i> contact me <i class="xi-gmail"></i> doubleaway0421@gmail.com </p>
    <p>© 2021. Charin Yang. All rights reserved.</p>
</footer>
<script src="Blog/js/main.js">

</script>
</body>
</html>