<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
		<link href ="movieInfo.css" rel="stylesheet" type="text/css">
		  <script src="http://code.jquery.com/jquery-latest.js"></script>
		  <script src="movieInfo.js"></script>
	</head>
	<body>
		<section>
			<header>스티븐 유니버스: The Movie</header>
			<nav>
				<div class="imgBox"><img src="img/movieInfo.jpg" alt="영화 설명"></div>
				<div class="navText">
					<h1>스티븐 유니버스 : The Movie</h1>
					<p>Steven Univers :The Movie</p>
					<div><span>예매율</span><span>96%(실 관람객: 5,540명)</span></div>
					<div class="simpleText">
						<p>감독 : 레베카 슈거</p>
						<p>장르 : 가족/애니메이션 / 기본 : 전체, 89분, 미국</p>
						<p>개봉: 2020.02.17</p>
						<div class="heartBox">
							<div class="heart"></div>
							<div class="bubbleSp"></div>
						</div>
					</div>
				</div>
			</nav>
			<article class="mainContent">
				<div class="summary">
					<h1>줄거리</h1>
					<p>모든 싸움이 끝나고 16살이 된 스티븐 유니버스 는 평화로운 나날들을 만끽합니다.</p>
					<p>하지만 평화로움도 잠시 비치 시티의 언덕에 거대한 드릴이  대지에 박히고 마을을 파괴하기 시작합니다. </p>
					<p>그 드릴위 스피넬 (Spinel)이라는 젬이 나타나 스티븐과 지구의 나머지 부분을 죽이겠다고 합니다.</p>
					<p>그녀는 무기를 공격하여 펄, 가넷 과 애머티스트를 다시 젬의 형태로 만들어버립니다. </p>
					<p>그녀의 공격을 받은 스티븐은 젬의 힘이 약화 되지만그의 반쪽 휴먼몸덕분에 무사합니다. </p>
					<p>스티븐은 마지막으로 스피넬을 젬으로 돌려놓는데 능력을 제대로 쓸 수 없게 된 스티븐!</p>
					<p>그리고 스피넬에게 당한 크리스탈젬들은 초기화되어버리고 마는데.. </p>
				</div>	
				<ul class="movieBox">
					<li>매력포인트</li>
					<li>성별 예매 분포</li>
					<li>연령별 예매 분포</li>
				</ul>
				<ul class="movieCon">
					<li><img id="inmovieCon" src="img/movieBox2.png"></li>
					<li>2</li>
					<li>
						<div id="yearBox" class="yearBox"> 
							<div id="teenagerY" class="teenAge">10대</div>
							<div id="twenthyY" class="tewnAge">20대</div>
							<div id="thirthyY" class="thirAge">30대</div>
							<div id="fourthyY" class="fourAge">40대</div>
							<div id="fifteethyY" class="fifteeAge">50대</div>
							<ul  id="graduGraph" class="graduGraph">
								<li>20.2</li>
								<li>12.3</li>
								<li>47</li>
								<li>46.8</li>
								<li>23.2</li>
							</ul>
						</div>
					</li>
				</ul>
				<ul class="trailler">
					<h1>영상 및 노래</h1>
					<li class="tra1"><i id="tra1" class="xi-play-circle xi-4x"></i></i></li>
					<li class="tra2"><i id="tra2" class="xi-play-circle xi-4x"></i></i></li>
					<li class="tra3"><i id="tra3" class="xi-play-circle xi-4x"></i> </i></li>
					<li class="tra4"><i id="tra4" class="xi-play-circle xi-4x"></i> </i></li>
				</ul>
				<div class="steelCut">
					<h1>Steel Cut</h1>
					<span>&lt</span>
					<div class="steelCon">
						<img src="img/steel1.jpg">
					</div>
					<span>&gt</span>
				</div>
			</article>
		</section>
		<article id="videoBox" class="videoBox"><div class="videoCon" id="videoCon"><p class="closeBtn" id="closeBtn"></p></div></article>	
		
	</body>
</html>
