//color
$color1:#C6E2E3;
$color2:#8CC6C7;
$color3:#4F8182;
$colorBlack:#2D414F;
$colorWhite:rgba(255,255,255,0.85);
$main_color:#84DAE1;
$sub_color:#42ACB3;
$sub_white:#C1ECF0;
$light_main:#D0EEF0;
$dark_sub: #269097;

$point_color:#A34200;
//web
$contentArea:75%;
$subArea:25%;
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bowlby+One+SC&family=Do+Hyeon&family=Dongle:wght@300&family=Lalezar&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lalezar&display=swap');
//font
$eng_ft:'Bowlby One SC', cursive;
$kor_ft: 'Do Hyeon', sans-serif;
$e_letter:35px;
//$kor_ft='Bangers', cursive;
$default_transition:all linear 0.3s;